:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --card-title-color: #353430;
}

.theme-light .header__lightbulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --card-title-color: #353430;
  }

  .header__lightbulb {
    display: none;
  }
}
