:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --main-font-size: 18px;
  --main-padding: 10px;
}
